databases:
  - name: Datos_eUC
    databaseName: datoseuc
    user: data_admin
    plan: free

services:
  - type: web
    name: Datos_eUC
    runtime: python
    buildCommand: "./build.sh"
    startCommand: "gunicorn mysite.wsgi:application"
    plan: free
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: Datos_eUC
          property: connectionString
      - key: SECRET_KEY
        generateValue: true
      - key: WEB_CONCURRENCY
        value: 4
      - key: POETRY_VERSION
        value: 1.5.1
