databases:
  - name: Datos_eUC
    databaseName: Datos_eUC
    user: data_admin

services:
  - type: web
    name: Datos_eUC
    runtime: python
    buildCommand: "./build.sh"
    startCommand: "gunicorn mysite.wsgi:application"
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: mysite
          property: connectionString
      - key: SECRET_KEY
        generateValue: true
      - key: WEB_CONCURRENCY
        value: 4
