{% extends 'main/base.html' %} {% block content %} {% load static %}
<body>
  <section class="hero is-small is-link">
    <div class="hero-body">
      <p class="title">¿Como funciona Datos_eUC</p>
      <p class="subtitle">Un pequeño resumen del funcionamiento de Datos_eUC</p>
    </div>
  </section>
  <article class="message is-info mt-5" style="width: 75%; margin: auto">
    <div class="message-header mt-5">
      <p>¿Como funciona en detalle todo?</p>
    </div>
    <div class="message-body">
      <p>
        <strong>1.</strong> El bot o data_collector crea un excel/csv de la
        información que fue recoletectada
      </p>
      <p>
        <strong>2.</strong> La información recolectada se pasa por un filtro y
        es procesada para ser subida a la base de datos
      </p>
      <p>
        <strong>3.</strong> La información de la base de datos es analizada y
        rectificada por un equipo de personas
      </p>
      <p>
        <strong>4.</strong> La base de datos envia la información a la pagina
        web
      </p>
    </div>
  </article>

  {% endblock content %}
</body>
