{% extends 'main/base.html' %} {% block content %} {% load static %}
<body>
  <h3 class="title is-3 mx-6 mt-6">Elige el año que te interesa:</h3>
  <div class="dropdown is-hoverable mx-6">
    <div class="dropdown-trigger">
      <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
        <span>Año =></span>
        <span class="icon is-small">
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </span>
      </button>
    </div>
    <div class="dropdown-menu" id="dropdown-menu" role="menu">
      <div id="dropdown" class="dropdown-content">
        <a id="2022" class="dropdown-item"> 2022 </a>
        <a id="2021" class="dropdown-item"> 2021 </a>
        <a id="2020" class="dropdown-item"> 2020 </a>
        <a id="2019" class="dropdown-item"> 2019 </a>
        <a id="2018" class="dropdown-item"> 2018 </a>
      </div>
    </div>
  </div>
  <div
    id="wrapperOne"
    style="
      display: none;
      border: 5px solid;
      margin: auto;
      width: 50%;
      padding: 10px;
    "
  >
    <h2>Participacion 2022: 54,54% del padron total</h2>
    <h2>Resultados:</h2>
    <table class="table" style="margin: auto; width: 50%; padding: 10px">
      <thead>
        <tr>
          <th>Movimiento</th>
          <th>Votos</th>
          <th>Porcentaje</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Movimiento Gremial</td>
          <td>1.794</td>
          <td>13,09%</td>
        </tr>
        <tr>
          <td>Solidaridad</td>
          <td>2.841</td>
          <td>20,72%</td>
        </tr>
        <tr>
          <td>Avanzar</td>
          <td>2.177</td>
          <td>15,87%</td>
        </tr>
        <tr>
          <td>Nueva Accion Universitaria</td>
          <td>6.896</td>
          <td>50,31%</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div
    id="wrapperTwo"
    style="
      display: none;
      border: 5px solid;
      margin: auto;
      width: 50%;
      padding: 10px;
    "
  >
    <h2>Participacion 2021: 55,18% del padron total</h2>
    <h2>Resultados:</h2>
    <table class="table" style="margin: auto; width: 50%; padding: 10px">
      <thead>
        <tr>
          <th>Movimiento</th>
          <th>Votos</th>
          <th>Porcentaje</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Movimiento Gremial</td>
          <td>5.959</td>
          <td>41,27%</td>
        </tr>
        <tr>
          <td>Nueva Accion Universitaria</td>
          <td>7.589</td>
          <td>52,56%</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div
    id="wrapperThree"
    style="
      display: none;
      border: 5px solid;
      margin: auto;
      width: 50%;
      padding: 10px;
    "
  >
    <h2>Participacion 2020: 0%% del padron total</h2>
    <h2>Resultados:</h2>
    <h1 class="title is-3">No hubo elecciones en 2020</h1>
  </div>
  <div class="mt-5"></div>
  <script>
    var first = document.getElementById("2022");
    var second = document.getElementById("2021");
    var third = document.getElementById("2020");
    var fourth = document.getElementById("2019");
    var fifth = document.getElementById("2018");
    var wrapperOne = document.getElementById("wrapperOne");
    var wrapperTwo = document.getElementById("wrapperTwo");
    var wrapperThree = document.getElementById("wrapperThree");
    first.addEventListener("click", function handleClick() {
      console.log("click");
      wrapperOne.style.display = "block";
      wrapperTwo.style.display = "none";
      wrapperThree.style.display = "none";
    });
    second.addEventListener("click", function handleClick() {
      wrapperOne.style.display = "none";
      wrapperTwo.style.display = "block";
      wrapperThree.style.display = "none";
    });
    third.addEventListener("click", function handleClick() {
      wrapperOne.style.display = "none";
      wrapperTwo.style.display = "none";
      wrapperThree.style.display = "block";
    });
  </script>
</body>
{% endblock content %}
