{% extends 'main/base.html' %} {% block content %} {% load static %}
<body>
  <section class="hero is-link">
    <div class="my-5 mx-5">
      <p class="title">¿Qué es Datos_eUC?</p>
      <p class="subtitle">
        Datos_eUC es una plataforma que te permite acceder al historial de datos
        de la PUC de diferentes actividades estudiantiles, desde votaciones
        hasta datos de generación.
      </p>
    </div>
  </section>
  <section class="hero is-info has-text-centered">
    <div class="my-5">
      <h1 class="title is-1">
        'Por transparentar y democratizar la información en la PUC'
      </h1>
    </div>
  </section>
</body>
{% endblock content %}
